Source: librepilot
Section: electronics
Priority: optional
Maintainer: The LibrePilot Project <packaging@librepilot.org>
Build-Depends: debhelper (>= 9), libudev-dev, libusb-1.0-0-dev, libsdl1.2-dev, python
Standards-Version: 3.9.5
Homepage: http://librepilot.org
Vcs-Git: https://bitbucket.org/librepilot/librepilot.git
Vcs-Browser: https://bitbucket.org/librepilot/librepilot

Package: librepilot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A ground control station and firmware for UAV flight controllers
 The LibrePilot open source project was founded in July 2015.
 It focuses on research and development of software and hardware to be used in a variety of applications including vehicle control and stabilization, unmanned autonomous vehicles and robotics.
 One of the project's primary goals is to provide an open and collaborative environment making it the ideal home for development of innovative ideas.
